@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;800&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-greyish-blue: hsl(227, 10%, 46%);
    --dark-grey: hsl(0, 0%, 59%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    overflow: hidden;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card_container {
    box-shadow: 0px 0px 10px 0px var(--dark-greyish-blue);
    width: 22vw;
    height: 50vh;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    /* margin-top: 50px; */
}

.circle {
    border: 4px solid white;
    height: 100px;
    width: 100px;
    position: absolute;
    /* transform: translate(120%,-50%); */
    border-radius: 50%;
    overflow: hidden;
    margin-top: 90px;
}

.profile_image {
    z-index: -1;
    background-repeat: no-repeat;
}

.text_content {
    /* transform: translate(58%,-50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

p {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 800;
}

span {
    font-weight: 400;
    color: var(--dark-grey);
}

.location {
    padding-top: 10px;
    font-weight: 400;
    color: var(--dark-grey);
}

.separator_line{
    border: 1px solid var(--dark-grey);
    width: 100%;
    margin-top: 60px;
}

.followers_likes_photos{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: center;
}

.stats{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stats span {
    font-size: 10px;
    color: var(--dark-grey);
}

.top_circle{
    background: url("./images/bg-pattern-top.svg") no-repeat;
    width: 63vw;
    height: 119vh;
    position: absolute;
    z-index: -1;
    transform: translate(-50%,-50%);
}

.bottom_circle{
    background: url("./images/bg-pattern-bottom.svg") no-repeat;
    width: 67vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    transform: translate(50%,50%);
}

@media screen and (max-width: 480px) {

    body {
        background-color: var(--dark-cyan);
    }

    .card_container {
        width: 84vw;
    }

    .top_circle{
        width: 232vw;
        transform: translate(-50%,-46%);
    }
    
}